<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="connection_string" connectionString="Data Source=DESKTOP-4VPFGVP\SQLEXPRESS;Initial Catalog=CoffeeToGo;Integrated Security=True;"/>
	</connectionStrings>

	<appSettings>
		<add key="tableParent" value="Cafenele"/>
		<add key="tableChild" value="Recenzii"/>
		<add key="columnNumberOfChild" value="5"/>
		<add key="columnsChild" value="NumeAutor,PrenumeAutor,NumarStele,IdCafenea,Descriere"/>

		<add key="selectParent" value="SELECT IdCafenea,Nume,Adresa,DimensiuneMP,NumarMese,NumarAngajati,NumarClienti FROM Cafenele"/>
		<add key="selectChild" value="SELECT Id,NumeAutor,PrenumeAutor,NumarStele,IdCafenea,Descriere FROM Recenzii WHERE IdCafenea=@id"/>
		<add key="update" value="update Recenzii set NumeAutor=@NumeAutor, PrenumeAutor=@PrenumeAutor, NumarStele=@NumarStele, IdCafenea=@IdCafenea, Descriere=@Descriere where Id = @Id"/>
		<add key="delete" value="delete FROM Recenzii where Id=@id"/>
		<add key="max" value="select max(Id) as max from Recenzii"/>
		<add key="insert" value="insert into Recenzii(Id,NumeAutor,PrenumeAutor,NumarStele,IdCafenea,Descriere) values (@id, @NumeAutor,@PrenumeAutor,@NumarStele,@IdParent,@Descriere)"/>
	</appSettings>


	<!--<appSettings>
		<add key="tableParent" value="Cafenele"/>
		<add key="tableChild" value="Staff"/>
		<add key="columnNumberOfChild" value="4"/>
		<add key="columnsChild" value="Nume,Varsta,AniExperienta,IdCafenea"/>

		<add key="selectParent" value="SELECT IdCafenea,Nume,Adresa,DimensiuneMP,NumarMese,NumarAngajati,NumarClienti FROM Cafenele"/>
		<add key="selectChild" value="SELECT Id,Nume,Varsta,AniExperienta,IdCafenea FROM Staff WHERE IdCafenea=@id"/>
		<add key="update" value="update Staff set Nume=@Nume, Varsta=@Varsta, AniExperienta=@AniExperienta,IdCafenea=@IdCafenea where Id= @Id"/>
		<add key="delete" value="delete FROM Staff where Id=@id"/>
		<add key="max" value="select max(Id) as max from Staff"/>
		<add key="insert" value="insert into Staff(Id,Nume,Varsta,AniExperienta,IdCafenea) values (@id, @Nume,@Varsta,@AniExperienta,@IdParent)"/>
	</appSettings>-->
</configuration>


<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>-->
